/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/*  everything applicable to or can be used for all elements */
:root {
  /* color related */

  --clr-violet: hsl(257, 40%, 49%);
  --clr-soft-magenta: hsl(300, 69%, 71%);

  /* fonts related */

  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-400: 500;
  --fw-600: 600;
}

/* Universal Selector & explicitly set box-sizing type */
/* Box sizing rules */
/* reset margin, padding */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* typography */
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6em;
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

/* .attribution {
        font-size: 11px;
        text-align: center;
      }
  
      .attribution a {
        color: hsl(228, 45%, 44%);
      } */
