/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/*  everything applicable to or can be used for all elements */
:root {
  /* color related */

  --clr-violet: hsl(257, 40%, 49%);
  --clr-soft-magenta: hsl(300, 69%, 71%);
  --clr-white: white;

  /* fonts related */

  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
}

/* Universal Selector & explicitly set box-sizing type */
/* Box sizing rules */
/* reset margin, padding */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* typography */
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6em;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

body {
  background-color: var(--clr-violet);
  /* debugging purpose only */
  /* background-color: rgb(0, 157, 255); */
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.grid-container {
  /* fix the grid container size */
  max-width: 120em;
  /* place grid container in the center */
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  justify-items: center;
  padding: 3rem;
  grid-template-areas:
    "header-image-container"
    "side-image-card"
    "info-card"
    "social-card";
}

.header-image-container {
  width: 45%;
  justify-self: start;
}

.info-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
  grid-template-areas:
    "info-card__header"
    "info-card__description"
    "info-card__button-cta";
}

.info-card__header {
  font-family: var(--ff-heading);
  font-size: 2.7rem;
  font-weight: var(--fw-600);
  text-align: center;
  color: var(--clr-white);
}

.info-card__description {
  /* as per design requirement set width */
  width: 82%;
  line-height: 1.6;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--ff-body);
  color: var(--clr-white);
}

.info-card__button-cta {
  font-family: var(--ff-body);
  font-size: 1.35rem;
  width: 65%;
  padding: 1rem 0;
  border-radius: 20rem;
  border: none;
  color: var(--clr-soft-magenta);
}

.social-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
  grid-template-areas: "social-card__fb-icon social-card-f__twitter-icon social-card__instagram-icon";
  justify-self: end;
}

.fa-stack {
  color: var(--clr-violet);
}

.fa-circle {
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  border-width: thin;
}

/* -------- Desktop 2nd approach -------- */

body {
  /* center the grid container */
  display: flex;
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 40em) {
  .grid-container {
    grid-template-columns: 71rem 45rem;
    grid-template-areas:
      "header-image-container ."
      "side-image-card info-card"
      ". social-card";
    gap: 2rem;
  }

  .header-image-container {
    width: 25%;
    margin-bottom: 4rem;
  }

  .info-card {
    justify-items: start;
    gap: 1rem;
    /* adjust row size based on design */
    grid-template-rows: 10rem 9rem 5rem;
    margin-top: 3rem;
  }

  .info-card__header {
    /* overwrite value from mobile width */
    width: 100%;
    font-size: 3.5rem;
    line-height: 5rem;
    text-align: start;
  }

  .info-card__description {
    text-align: start;
    /* overwrite value from mobile width */
    width: 100%;
  }

  .info-card__button-cta {
    width: 35%;
  }
}

/* --------  grid area names -------- */

.header-image-container {
  grid-area: header-image-container;
}

.side-image-card {
  grid-area: side-image-card;
}

.info-card {
  grid-area: info-card;
}

.info-card__header {
  grid-area: info-card__header;
}

.info-card__description {
  grid-area: info-card__description;
}

.info-card__button-cta {
  grid-area: info-card__button-cta;
}

.social-card {
  grid-area: social-card;
}

.social-card__fb-icon {
  grid-area: social-card__fb-icon;
}

.social-card-f__twitter-icon {
  grid-area: social-card-f__twitter-icon;
}

.social-card__instagram-icon {
  grid-area: social-card__instagram-icon;
}

/* .attribution {
        font-size: 11px;
        text-align: center;
      }
  
      .attribution a {
        color: hsl(228, 45%, 44%);
      } */
